<section class="container px2 py3">
  <h1>Build Order</h1>
  <p>This is an Angular app that will display a build order in a very nice and responsive layout.</p>

  <p>It will use the following technologies:</p>
  <ul>
    <li>Gulp</li>
    <li>Angular</li>
    <li>LESS</li>
    <li>Basscss (New!) - lightweight styling; alternative to Bootstrap</li>
    <li>GoJS - for decision trees</li>
    <li>Firebase - backend/database</li>
  </ul>

  <h3>To do features</h3>
  <ul>
    <li>Tune up styling to be less basic</li>
    <li>Research Markdown parsing libraries</li>
    <li>Incorporate GoJS</li>
    <li>Fix gh-pages and gulp:dist</li>
    <lI>Incorporate angularfire</lI>
  </ul>

  <h3>Done</h3>
  <ul>
    <li>Site setup</li>
    <li>Basecss</li>
    <li>Gulp configuration</li>
  </ul>
</section>
<section class="container px2 py3">
  <h2>Firebase Test:</h2>
  <!-- anything typed in here is magically saved to our Firebase database! -->
  <input type="text" ng-model="vm.data.text"/>
  <!-- all changes from our Firebase database magically appear here! -->
  <h1>You said: {{ data.text }}</h1>
  <hr />
  <h3>My array</h3>
  <ul>
    <li ng-repeat="item in vm.builds">{{item.$value}}</li>
  </ul>
  <input type="text" ng-model="vm.value" />
  <button type="button" class="btn btn-primary" ng-click="vm.addValue(vm.value)">Save</button>
</section>
<section class="container px2 py3">
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-4 px2">
      <h2 class="h1 mb0">Bacon</h2>
      <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
    </div>
    <div class="sm-col sm-col-4 px2">
      <h2 class="h1 mb0">Bratwurst</h2>
      <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
    </div>
    <div class="sm-col sm-col-4 px2">
      <h2 class="h1 mb0">Andouille</h2>
      <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
    </div>
  </div>
</section>
